#getstarted {
    padding: 5px 0 10px 10px;
}

#adminForm div.whiteBox {
    padding: 20px;
    margin: 0 5px 1em 5px;
}

#adminForm label {
    margin-right: 5px;
}

body {
    background-image: url('../images/pattern-wp.png') !important;
}

div {
    color: #333333;
}

legend {
    color: red !important;
}

.pointer {
    cursor: pointer;
}

.hasTip {
    cursor: help;
}

.inline {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.key {
    padding: 0 10px 0 0;
}

.whiteBox {
    border: 1px solid #D5D5D5 !important;
    background-color: white;
    padding: 10px;
}

.red {
    color: red;
}

.params dl.tabs dt.open {
    text-decoration: underline;
}

.params dl.tabs dt.open,
.params dl.tabs dt.closed {
    border: 0px solid white !important;
}

#uploadFileContainer {
    padding: 30px !important;
    background: white;
}

.category {
    background: transparent url(../images/categorylabel.png) no-repeat scroll 0 50% !Important;
    color: red !important;
    height: 70px !important;
}

input.columnRef {
    width: 30px;
    text-align: center;
}

.radio.btn-group {
    margin-right: 10px;
    padding-left: 0;
}

.radio .controls {
    float: left;
}

.radio label {
    display: inline;
}

.radio label input[type=radio] {
    float: none;
    margin-right: 5px;
}

.tip {
    border: 0px solid white !important;
    background: transparent !important;
}

.tip-wrap {
    padding: 6px 10px !important;
    background-color: #616161 !important;
    border: 1px solid black;
}

.tip-wrap div {
    color: #fff;
}

.tip-title {
    background: transparent !important;
}

#content-data-tabs .nav {
    margin-bottom: 0;
}

#content-data-tabs .tab-pane {
    display: none;
}

#content-data-tabs .tab-content>.active {
    display: block;
}

#content-data-tabs .tab-content {
    border: 1px solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 15px 10px 10px;
}

fieldset.panelform label,
.weblinksForm label,
.contactForm label,
.admintoolsParams label {
    min-width: 10px !important;
    float: none;
    display: inline;
    display: inline-block;
}

fieldset.panelform input,
.weblinksForm input,
.contactForm input,
.admintoolsParams input {
    float: none;
}

fieldset.panelform img {
    float: right;
}

div.width-50 {
    width: 50%;
}

div.col {
    float: left;
}

/* Filters on listings */
table.paramsTable tr {
    height: 27px
}

ul.tags li.tagAdd input,
ul.tags li.tagAdd input:focus {
    margin-bottom: 0;
    border: 0px solid white;
    -webkit-box-shadow: none;
    box-shadow: none;
}